/*
Colors used:
Primary Color (White): #FDFDEF;
Primary Color (Dark Green): #1F371F;
Secondary Color (Pink): #B58E90;
Secondary Color (Blue): #218390;
Tertiary Color (Orange): #D4753E;
Font Color (Dark Brown): #431805;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #FDFDEF;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 2px solid #218390;
  width: 100%;
  height: auto;
  position:fixed;
}

header.css-box-shadow{
  /*start ------------*/
  width: [object Object]px; 
  height: [object Object]px; 
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1)  ; 
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1)  ; 
  -moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1)  ; 
}

main {
  padding-top: 200px;
}

body {
  background-color: #FDFDEF;
  color: #431805;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0px 50px 10px 50px;
}




/* Navigation */

nav { 
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;

}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: larger;
}


/* hero */

#hero { 
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}


/* font families and sizes */
  h1 { 
    font-family:'Poiret One', sans-serif;
    font-size: 2.5em;
  }
  #hero h1 {
    text-align: center; 
  }

  h2 { 
    font-family:'Poiret One', sans-serif;
    font-size: 2.2em;
  }


  h3 {
    font-family: 'Mitr', 'Poppins', sans-serif;
    font-size: 2em;
  }

  h4, h5, h6 {
    font-family: 'Mitr', 'Poppins', sans-serif;
  }

  p {
    font-family: 'Mulish', sans-serif;
  }

/* images */
img {
    width: 100%;
  }

/* link styles */
  a {
    color: #936f71;
    text-decoration: none; /* No underlining */
  }
  
  a:hover {
    color: #D4753E;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:active { /* selected link */
    color: #994c30; 
  }

  a:focus {
    outline: 2px solid #994c30;
  }

 

  /* Button styling */

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #B58E90;
    color: black; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s opacity;
  }

  .button:hover {
    color: black;
    opacity: 0.8;
  }

  .button:active {
    background-color: #D4753E;
    outline: 2px solid #994c30
  }

  .button.contact {
    display: inline-block; 
    background-color: transparent; 
    text-transform: uppercase;
    color: black; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 30px;
    outline: 2px solid #B58E90;
    transition: 0.2s opacity;
  }

  .button.contact:hover {
    background-color: #B58E90;
  }

  .button.contact:active {
    background-color: #D4753E;
    outline: 2px solid #994c30
  }

/* Icon styling */

  .linkedin-logo {
    max-width: 30px;
    display: inline-block;
    margin: 20px;
  }

  .instagram-logo {
    max-width: 30px;
    display: inline-block;
    margin: 50px 0px;
  }


  .logo {
    max-width:100px;
    display: inline-block;
  }

  /* Layout styling */
  .container {
    padding: 0px 10px;
  }
  
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding: 12px 0;
    border-bottom: 2px solid #218390;
  }

  .column {
    display: inline-block;
  }


 