/*
Colors used:
Primary Color (White): #FDFDEF;
Primary Color (Dark Green): #1F371F;
Secondary Color (Pink): #B58E90;
Tertiary Color (Orange): #D4753E;
Font Color (Dark Brown): #431805;
*/

body {
    background-color: #FDFDEF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h1 { 
    font-family:'Poiret One', sans-serif;
    font-size: 2.75em;
}

h2 { 
    font-family:'Poiret One', sans-serif;
    font-size: 2.4em;
}


h3 {
    font-family: 'Mitr', 'Poppins', sans-serif;
    font-size: 2em;
}

h4, h5, h6 {
    font-family: 'Mitr', 'Poppins', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}