/*
Colors used:
Primary Color (White): #FDFDEF;
Primary Color (Dark Green): #1F371F;
Secondary Color (Pink): #B58E90;
Tertiary Color (Orange): #D4753E;
Font Color (Dark Brown): #431805;
*/

body {
    background-color: #FDFDEF;
}

h1,h2 {
    font-family: 'Poppins', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'Mitr', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}